.container-header {
  align-items: center;
  background-color: white;
  box-shadow: 0 0 4px rgba(172, 181, 200, 0.938);
  color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  width: 250px;
  z-index: 1;
}

.title-header {
  color: rgb(0, 59, 229);
  font-size: 30px;
}

.user-header {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 16px;

  /* left: 93px; */
  letter-spacing: 0.03em;
  line-height: 16px;

  /* position: absolute; */
  text-transform: capitalize;

  /* top: 664px; */
  width: 83px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link-header {
  background-color: #00d5e2;
  border-radius: 30px;
  box-shadow: -3px 4px 6px rgb(155, 155, 155);
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 30px;
  letter-spacing: 0.03em;
  line-height: 16px;
  list-style: none;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s;
  width: 114px;
}

.link-header:hover {
  background-color: rgba(0, 59, 229, 0.898);
}

.img-header {
  border-radius: 19.608px;
  height: 40px;

  /* left: 40px;
  position: absolute;
  top: 660px; */
  width: 40px;
}

.container-profile-header {
  display: flex;
}

.icon {
  color: white;
}

@media screen and ( max-width : 1150px ) {

  .container-header {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-top: 5px;
    position: absolute;
    width: 100vw;
  }

  .nav {
    flex-direction: row;
  }

  .link-header {
    height: 10px;
    padding: 10px;
    width: 114px;
  }

  .logo-header {
    width: 150px;
  }
}

@media screen and ( max-width : 720px ) {

  .link-header {
    display: flex;
    flex-direction: column;
    width: 20px;
  }

  .img-header {
    margin-right: 5px;
  }

  .nav {
    flex-direction: row;
    margin-left: 10px;
  }

  .container-profile-header {
    margin-left: 10px;
  }

  .logo-header {
    margin-left: 10px;
    width: 80px;
  }

  .container-header {
    margin-left: 10px;
  }
}
