.loading {
  color: #c0c3c9;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  margin: auto;
  text-align: center;
}

@media screen and ( max-width : 720px ) {

  .loading {
    margin-left: 10px;
  }
}
