body {
  background-color: #eff3f9;
  box-sizing: border-box;
  font-family: Arial , Helvetica , sans-serif;
  margin: 0%;
  padding: 0%;
}

.logo-login {
  margin-bottom: 20px;
}

.container-background-login {
  display: flex;
  height: 100vh;
  margin-top: 0%;
  width: 100%;
}

.container {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(172, 181, 200, 0.938);
  color: rgb(0, 59, 229);
  display: flex;
  flex-direction: column;
  font-size: 40px;
  height: 450px;
  justify-content: center;
  margin: auto;
  width: 750px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  background-color: white;
  border: 1px solid rgb(0, 59, 229);
  border-radius: 100px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  line-height: 14px;
  text-align: center;
  width: 400px;

}

.input::placeholder {
  color: #003be5;
}

.button {
  background: rgb(0, 59, 229);
  border-radius: 100px;
  color: white;
  height: 40px;
  left: 10px;
  margin: auto;
  width: 400px;
}

.button:disabled {
  background: gray;
  color: rgb(151, 147, 147);
}

@media screen and ( max-width : 800px ) {

  .container {
    width: 80%;
  }

  .input {
    margin: auto;
    width: 230px;
  }

  .button {
    color: white;
    margin: auto;
    padding: 10px;
    width: 240px;
  }
}
